.board
{
    position: relative;

    display: block;
    width: 40vw;
    height: 40vw;

    margin: 20px auto;

    border: 1px solid #000;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .5);

    box-sizing: border-box;
}

.cell
{
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 8vw;

    width: calc(25% - 4px);
    height: calc(25% - 4px);

    border: 1px solid #000;
    /* box-shadow: 0 0 2px 2px rgba(0, 0, 0, .5); */

    margin: 2px;

    box-sizing: border-box;

    transition: all .6s ease-in-out;
    will-change: top, left, background;
}

.cell--can-move
{
    cursor: pointer;
    background: rgb(217, 239, 252);
}

.cell--can-move:hover
{
    background: rgb(184, 227, 252);
}
